<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">
<!--    5-3-->
    <resultMap id="menuResultMap" type="com.ohgiraffers.section01.xmlconfig.MenuDTO">
<!--        매핑의 결과가 menuDTO가 되도록 세팅하는 것-->
<!--        매핑용 모듈-->
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>
<!--    5-2-->
    <select id="selectAllMenus" resultMap="menuResultMap">
<!--        * 쓰면 안 됨 귀찮더라도 컬럼 다 가져오기-->
        SELECT
              MENU_CODE
            , MENU_NAME
            , MENU_PRICE
            , CATEGORY_CODE
            , ORDERABLE_STATUS
        FROM TBL_MENU
    </select>

<!--    7-6-->
    <select id="selectMenu" resultMap="menuResultMap" parameterType="_int">
        SELECT
          MENU_CODE
        , MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        FROM TBL_MENU
<!--        넘겨줄 때 변수 이름을 맞춰서 써줌-->
        WHERE MENU_CODE = #{menuCode}
<!--        ?{} = 리터럴 변수 #{} = 바인드 변수 - 바인드 변수로 해주는 것이 속도가 훨씬 빠름 - 리터럴 변수는 전부 파싱하기 때문-->
    </select>

<!--    8-6-->
<!--    설명. DML용 태그는 반환형의 개념이 필요 없다. (resultMap 또는 resultType 속성을 태그에 사용하지 않는다.)-->
<!--
        설명. parameterType으로 던져지는 타입이 기본적오로 존재하는 자료형이 아닌 경우 풀 클래스 명을 사용한다.
             (설정용 xml에 typeAlias 설정을 하면 줄여 쓸 수는 있다.)
-->
    <insert id="insertMenu" parameterType="MenuDTO">
        INSERT
          INTO TBL_MENU
        (
          MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        )
        VALUES
        (
          #{menuName}
        , #{menuPrice}
        , #{categoryCode}
        , 'Y'
        );
    </insert>

<!--    9-3-->
    <update id="updateMenu" parameterType="MenuDTO">
        UPDATE
            TBL_MENU
          SET MENU_NAME = #{menuName}
            , MENU_PRICE = #{menuPrice}
         WHERE MENU_CODE = #{menuCode}
    </update>

<!--    10-2-->
    <delete id="deleteMenu" parameterType="_int">
        DELETE
          FROM TBL_MENU
         WHERE MENU_CODE = #{menuCode}
    </delete>

</mapper>